.card{
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.014)
}
.card-container{
    display: flex;

}
button{
    background-color: aqua;
}
.card-section{
    display: flex;
}
.card h3{
    font-size: 1.25em;
    font-weight: 700px;
}
.card img{
   width: 100%;
   border-radius: 10px;
}
.card button{
    background-color: aqua;
    padding: 10px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;


}